/*Generales*/
body{
	margin:0;
	width:100vw;
}
.linksindiseno{
	text-decoration: none;
	color: #000;
}
.linksindisenoblanco{
	text-decoration: none;
	color: #fff;
}
.listasindiseno{
	list-style: none;
}
.letrablanca{
	color:#fff;
}
.letranegra{
	color: black;
}
.fondogris{
	background-color: #E7E7E7;
}
.margen{
	padding: 3em 6em 3em 6em;
}
@media screen and (max-width: 650px){
	.margen{
		padding: 3em 4em 3em 4em;
	}
}

/*Eliminar scrollbar*/
::-webkit-scrollbar {
    display: none;
}


/*Navbar*/
nav a{
	margin: 0 .5em 0 .5em;
}
nav{
	margin: 0 1em 0 1em;
}
nav button{
	border:solid 1px #666;
}
.logo{
	width: 60px;
	height: auto;
}
.tituloheader{
	display: inline-block;
	color: black;
	margin-top: 15px;
	font-size: 15px;
	font: bold;
}
.margenpequeno{
	padding: 1em 0em 1em 0em;
}
.letranegra{
	color: black;
}
.letranegra:hover {
	color: #999;
}


/*Footer*/
.fondopie{
	background-color: #303030;
}
.rss{
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background-color: #fff;
	display: inline-block;
	margin-top: 7em;
	margin-right: 1em;
}
.logopie{
	display: inline-block;
	background: #fff;
	border-radius: 38px;
	padding: .2em .8em;
}
.margenlogo{
	display: flex;
	justify-content: center;
	align-items: center;

}


/*Index*/
/*Banner*/
.fondo{
	background-image: url('./img/banner.jpg');
	background-size: 100%;
	color: white;
	padding: 1.5em 1em 1em 1em;
	margin: 0em 0 1em 0;
	background-attachment: fixed;
	background-repeat: none;
}
.espacio{
	height:30vh;
}
@media screen and (min-width: 700px; max-width: 1000px){
	.espacio{
		height: 10vh;
	}
	.fondo{
		background-attachment: scroll;
	}
}
@media screen and (max-width: 700px){
	.espacio{
		height: 5vh;
	}
	.fondo{
		background-attachment: scroll;
	}
}

/*Contenido index*/
.fix{
	border-image-repeat: none;
	width: 100%;
	height: auto;
	margin-bottom: 10px;
}
.margenminiaturas{
	padding: 1em 1em 1em 1em;
}














.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
::-webkit-scrollbar {
    display: none;
}

.separadorpie{
	border-left: 3px solid #fff;
}



.imagenpost{
	width: 30%;
	height: 10em;
	height: auto;
	/*background-color: #fff;*/
	border-radius: 30px; 
	margin-right: 3em;
}
.sangria{
	margin-left: .5em;
}
.contentimagenpost{
	width: 110%;
	height: 100%;
	border-radius: 30px; 
}
.textopost{
	background-color: #fff;
	border-radius: 15px;
	padding: 0 1em 0 1em;
}

@media screen and (max-width: 1000px){
	
}


/*Descartable*/
.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}