body{
	margin:0;
	width:100vw;
}
.header{
	margin: 1em 0 0 0;
}
.tituloheader{
	display: inline-block;
	color: black;
	margin-top: 15px;
	font-size: 15px;
}
.logo{
	width: 60px;
	height: auto;
}
.logopie{
	width: 80px;
	height: 65px;
	background: #fff;
	border-radius: 38px;
	margin-top: 3em;
}
.letranegra{
	color: black;
}
.letranegra:hover {
	color: #999;
}
.fondo{
	background-image: url('./img/banner.jpg');
	background-size: 100%;
	color: white;
	padding: 1.5em 1em 1em 1em;
	margin: 0em 0 1em 0;
	background-attachment: fixed;
}
.espacio{
	height:30vh;
}
.blanco{
	color:#fff;
}
.margen{
	padding: 3em 6em 3em 6em;
}
.margenpequeno{
	padding: .5em 0em 1.5em 0em;
}
.margenminiaturas{
	padding: 1em 1em 1em 1em;
}
.fix{
	border-image-repeat: none;
	width: 100%;
	height: auto;
	margin-bottom: 10px;
}
.fondogris{
	background-color: #E7E7E7;
}
.fondopie{
	background-color: #303030;
}
.linksindiseno{
	text-decoration: none;
	color: #000;
}
.linksindisenoblanco{
	text-decoration: none;
	color: #fff;
}
.rss{
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background-color: #fff;
	display: inline-block;
	margin-top: 7em;
	margin-right: 1em;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
::-webkit-scrollbar {
    display: none;
}
.listasindiseno{
	list-style: none;
}
.separadorpie{
	border-left: 3px solid #fff;
}